{% extends 'base.html' %}


{% block title %}Login{% endblock %}

{% block content %}

<div class="b-form center form-90">
{% if form.errors %}
   <h2>Provide a valide username and password!</h2>
{% else %}
   <h2 style="color: #081e3f;">Utiliser ce formulaire pour vous connecter, Merci!</h2>
{% endif %}
<form method="post" action="{% url 'login' %}">
   {{form.as_p}}
   {% csrf_token %}
   <input type="hidden" name="next" value="{% url 'home' %}">
   <input class='btn' type="submit" value="Se connecter">
</form>
<p> <strong>Vous n'avez pas de compte,</strong> <a href="{% url 'register' %}"> <strong>Creer un compte.</strong> </a></p>
</div>

{% endblock %}