{% extends "base.html" %}

{% block content %}
 
<form method="POST" id="design-pin">
    <input type="text" placeholder="votre PIN d'activativation" name="PIN"> <br>
    {% csrf_token %}
    <button type="submit" id="btn-design">Validation</button>
</form>

<div class="pin-ds">
    <p>Apres avoir payer par l'un des moyens ci-dessous vous allez recevoir un SMS</p>
    <p>Pour le moment nous avons 3 moyens de payment</p>
    <strong>MON CASH</strong>
    <div class="mon-cash-ds">
        <p>Numero : (+509) 37884517</p>
        <p>Nom: seth REMY</p> <br>
   </div>

        <div>
            <h2>BUH</h2>
             <p><strong>Numero de Compte :</strong>2000-0022-773</p>
             <p><strong>Nom de Compte: </strong>René Raymond Edson Christly  et  REMY  Seth</p> <br>

        </div>
    
    <div>
        <h2>Notre Adresse:</h2>
        <p><strong>Adresse :</strong> 12, Imp Camille, Route Canape-vert, Juvenat (zone BUH)</p>
    </div>

</div>

{% endblock %}

